@use 'reset';
@use 'variables';
@use 'themes/light';
@use 'themes/dark';
@use 'themes/ocean';
@use 'themes/rose';

:root {
  --titlebar-height: 0px;
}

.is-tauri {
  --titlebar-height: 32px;

  .layout__header {
    padding-top: calc(var(--space-3) + var(--titlebar-height)) !important;
  }
}
