NUXT_MONGODB_URI=your_mongo_uri

NUXT_SESSION_SECRET=dev-secret-min-32-characters-long

NUXT_RANZAKONNECT_DOMAIN=auth.ranzakonnect.hu
NUXT_RANZAKONNECT_CLIENT_ID=your_client_id
NUXT_RANZAKONNECT_CLIENT_SECRET=your_client_secret

NUXT_PUBLIC_BASE_URL=http://localhost:3000
NUXT_SSR=true

NUXT_IMGUR_CLIENT_ID=your_imgur_client_id

NUXT_YOUTUBE_OAUTH_TOKEN={"access_token":"...","refresh_token":"...","scope":"...","token_type":"Bearer","expiry_date":"..."}