MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/ranzakord

SESSION_SECRET=dev-secret-min-32-characters-long

RANZAKONNECT_DOMAIN=auth.ranzakonnect.hu
RANZAKONNECT_CLIENT_ID=your_client_id
RANZAKONNECT_CLIENT_SECRET=your_client_secret

NUXT_PUBLIC_BASE_URL=http://localhost:3000

YOUTUBE_COOKIES=SAPISID=your_value; SID=your_value; HSID=your_value; SSID=your_value; APISID=your_value; __Secure-1PAPISID=your_value;